@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
	background-color: hsl(47, 88%, 63%);
	margin: 0;
	padding: 0;
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bloco {
	width: 320px;
	padding: 24px;
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	border-radius: 15px;
	font-family: "FigTree", sans-serif;
	box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
}

.capa {
	width: 100%;
	border-radius: 10px;
}

.bloco h1 {
	font-size: 16px;
	font-weight: 800;
	background-color: hsl(47, 88%, 63%);
	border-radius: 5px;
	padding: 5px;
	float: left;
}

.bloco p {
	clear: both;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
}

.bloco h2 {
	font-weight: 800;
	color: hsl(47, 88%, 63%);
	text-align: left;
}

.autor {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 15px;
}

.autor h3 {
	margin: 0;
	font-weight: 800;
	text-align: left;
}

.icone {
	width: 32px;
}

.descricao {
	color: hsl(0, 0%, 42%);
}

.attribution {
	margin-top: 20px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
